.rightbar {
    flex: 1;
}

.profileTab {
    height: 50px;
}

.rightProfileImg {
    align-self: center;
    border-radius: 40%;
    object-fit: cover;

    width: 250px;
    height: 250px;
}

.Right-button {
    justify-content: center;
    align-items: center;
    margin: auto;
    border: none;
    padding: 7px;
    border-radius: 5px;
    background-color: rgb(246, 2, 250);
    font-weight: 500;
    margin-right: 20px;
    cursor: pointer;
    color: white;  
}