.rightbar {
    flex: 1;
}

.profileTab {
    height: 50px;
}

.rightProfileImg {
    align-self: center;
    border-radius: 40%;
    object-fit: cover;
    padding: 20px;
    width: 250px;
    height: 250px;
}

.rightButton {
    justify-content: center;
    align-self: center;
    margin: auto;
    border: none;
    padding: 90px;
    border-radius: 50px;
    font-weight: 500;
    margin-right: 5px;
    cursor: pointer;
    color: white;  
}