.rlogin{
    width: 100vw;
    height: 100vh;
    background-color: #f9ebdc;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rloginWrapper{
    width: 70%;
    height: 70%;
    display: flex;
}

.rloginLeft, .rloginRight{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.left, .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.rloginLogo{
    font-size: 50px;
    font-weight: 800;
    color: #ce7567;
}

.rloginDesc {
    font-size: 24px;
}

.rloginBox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.box {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}

.rloginInput {
    height: 50px;
    border-radius: 10px;
    border: 1px solid gray;
    font-size: 18px;
    padding-left: 20px;
}

.rloginInput:focus{
    outline: none;
}

.rloginButton{
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #ce7567;
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.rloginForgot{
    text-align: center;
    color: #1775ee;
}

.rloginRegisterButton{
    width: 60%;
    align-self: center;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #ce7567;
    color: white;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}

.rinputBox {
    padding: 5px;
    display: flex;
    justify-content: center;
}

